.nav-fixed{
  background-color: black;
  
}

.slider .indicators .indicator-item.active{
  background-color: black;
}

/* footer properties */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

main {
  flex: 1 0 auto;
}

.page-footer{
  background-color: black;
}

/* card-panel */
.card-panel.first{
  
  width: auto;
  height: 600px;
  background-color: black;
}

/* button properties */

.waves-effect.button-first{
  background-color:white;
  color: black;
}

.waves-effect.button-second{
  border-style: solid;
  border-color: white;
  background-color: transparent;
}

.side-nav{
  background-color: black;

}
